In [1]:
import pandas as pd
import sqlalchemy as sqla

In [2]:
engine = sqla.create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [3]:
engine.connect()

In [6]:
query = """
    SELECT * FROM green_taxi_data_2019 LIMIT 5;
"""

pd.read_sql(query, con=engine)

AttributeError: 'OptionEngine' object has no attribute 'execute'